* {
  padding: 0;
  margin: 0;
}

.header-main{
  background-color: black;
  color: white;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cats-main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cats-img{
  max-width: 30%;
  max-height: 30%;
  margin: 1rem;
}

.cats-btn{
  padding: 1rem;
  margin: 1rem;
}

body{
  background-image: url("https://images.vexels.com/media/users/3/275740/isolated/preview/d7c8d3ada4ef122f58418803a6d3df36-sorry-doodle-color-quote.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-blend-mode: darken;
  background-size: 300px 200px;
}