* {
  padding: 0;
  margin: 0;
}

.header-main {
  background-color: black;
  color: white;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cats-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cats-img {
  max-width: 30%;
  max-height: 30%;
  margin: 1rem;
}

.cats-btn {
  padding: 1rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  body {
    background-size: 150px 100px; 
    background-position: bottom center;
  }

  .cats-img {
    max-width: 50%;
    max-height: 50%;
  }

  .cats-btn {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
